.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}
.body-img-left{
    flex: 1;
    height: 70%;
    width: 70%;
}
.img1{
    height: 100%;
    width: 100%;
}
.right-side{
    flex: 2;
}
.img2{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 500px){
    .container{
        display: flex;
        flex-direction: column-reverse;
        font-size: 0.8rem;
    }
    .body-img-left{
        height: 50%;
        width: 50%;
    }
}

